<div class="col-md-9">
<%if admin?%>
<div class="add"><%= link_to users_finished_order_qty_report_path(format: "xls"),:class=>"btn btn-info btn-sm" do%>
<i class="fa fa-arrow-circle-down">Download</i><%end%></div><br>
<%end%>
<h4>Finished Qty Received</h4>

<div class="table striped custab">
<table class="table">
<th>Goods Finished</th>
<th>Qty Received</th>
<%@arr.each do |j|%>
<tr>
<td><%=j[0]%></td>
<td><%=j[1]%></td>
</tr>
<%end%>
<tr>
<td>total</td>
<td><%=@total1%></td></tr>
<%$fno,$fntl=@arr,@total1%>
</table>
</div>
</div>
